attrs==21.4.0
boto3==1.21.46
botocore==1.24.46
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
iniconfig==1.1.1
jmespath==1.0.0
Naked==0.1.31
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
pytest-mock==3.7.0
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
s3transfer==0.5.2
shellescape==3.8.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
